Data mining:
 It is the process of discovering patterns in data.
 The process must be automatic or (more usually) semiautomatic.
 The patterns discovered must be meaningful in that they lead to some advantage—e.g., an economic advantage.
 The data is invariably present in substantial quantities.

In [2]:
import os
cwd=os.getcwd()
cwd

'C:\\Users\\faroo\\Downloads\\Archive (3)\\lab Sessions\\LabSession-06\\Data Preparation'

Data Preparation:
A Step-by-Step Guide with CRISP-DM Methodology and Python Examples

Data preparation is one of the most crucial steps in the data mining process and it is the foundation for creating high-quality models.

It involves transforming raw data into a format that can be easily understood and analyzed by data scientists and machine learning algorithms.

In this essay, we will delve into the data preparation step in the CRISP-DM methodology and provide a step-by-step guide with a sample dataset and python code.
<img src="DataPreparation.png">


<img src="IrisInfo.png">

<img src="DataPreparation.png">

In [2]:
# import image module
from IPython.display import Image

# get the image
Image(url="image.jpeg", width=300, height=300)

### Step 1: Data Collection
The first step in data preparation is collecting the data.
This can be done by either downloading it from a public data repository or by acquiring it directly from the source.
In this example, we will use a sample dataset named “Iris” which is available in the Seaborn library.

Integrating data from different sources usually presents many challenges—not deep issues of principle but nasty realities of practice.
Different departments will use different styles of record keeping,
different conventions,
different time periods,
different degrees of data aggregation,
different primary keys, and will have different kinds of error.
The data must be assembled, integrated, and cleaned up.

In [3]:
import seaborn as sns
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

<img src="IrisInfo.png">

For the irises (Table 1.4), the problem is to learn how to determine whether a new iris flower is setosa, versicolor, or virginica, given its sepal length and width and petal length and width.
Observations:

### Step 2: Data Exploration
Data exploration involves analyzing the dataset to understand its structure, quality, and distribution.

This is a critical step as it helps to identify any
 1. missing data, outliers, and any other issues that might affect the modeling process.
2. In this example, we will use the Pandas library to perform data exploration.

In [4]:
import pandas as pd
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
print(iris.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [10]:
print(iris.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
# iris = iris.fillna(iris.mean())
# iris

### Step 4: Data Transformation
Data transformation involves converting variables into a format that can be easily analyzed.

This includes encoding categorical variables, scaling numerical variables, and reducing dimensionality.
In this example, we will use the get_dummies function in Pandas to one-hot encode the categorical variables.

In [16]:
iris = pd.get_dummies(iris, columns=['species'])
iris

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

### Step 5: Data Reduction
Data reduction is the process of reducing the size of the dataset while retaining its important features.
This can be done through feature selection or dimensionality reduction techniques.
In this example, we will use the PCA function in scikit-learn to perform dimensionality reduction.

In [17]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components=2)
# iris_reduced = pca.fit_transform(iris)

### Pandas for Handling Missing Values
 isna(),
 isnull(),
 notnull(),
 dropna(),
 fillna(),
 replace()